<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <h4 class="daimei">商品新規登録</h4>
    </div>
  </div>
  <div class="bigbox1">
    <div class="mainbox1">
    <%= form_with model: @item, url: admin_items_path, method: :POST, local:true do |f| %>
      <table class="tablebox">
        <tr class="mb-2">
          <th class="label">商品画像</th>
          <td>
            <%= f.attachment_field :image %>
          </td>
        </tr>
        <tr class="mb-2">
          <th class="label">商品名</th>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr class="mb-2">
          <th class="label">商品説明</th>
          <td><%= f.text_area :introduction, class:"form-control  introduction", rows:"5" %></td>
        </tr>
        <tr class="mb-2">
          <th class="label">ジャンル</th>
          <td>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
          </td>
        </tr>
        <tr class="mb-2">
          <th class="label">税抜き価格</th>
          <td><%= f.text_field :price %><span>円</span></td>
        </tr>
        <tr class="mb-2">
          <th class="label">販売ステータス</th>
          <td>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "販売中", {value: true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "販売停止中", {value: false, style: "display: inline-block;"} %>
          </td>
        </tr>
      </table>
      <div class="action1">
        <%= f.submit '新規登録', class: "btn btn-success" %>
      </div>

  <% end %>
  </div>
  </div>
</div>