<h2>ジャンル一覧・追追加</h2>

<%= form_with model: @genre, url:'/admin/genres', local:true do |f| %>
    <div class="field">
      <div class="label">ジャンル名</div>
      <div class="text_area">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="action">
      <%= f.submit '新規登録' %>
    </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", admin_genre_path(genre.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>