<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <h4 class="daimei">ログイン</h4>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-4">
    <div class="subdaimei h6">会員の方はこちらからログイン</div>
  </div>
  <div class="col-2"></div>
    <div class="bigbox1">
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <table class="tablebox table table-borderless">
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <h6 class="daimei">会員登録がお済でない方</h6>
      <div><%= link_to new_customer_registration_path do %>こちら<% end %><span>から新規登録を行ってください。</span></div>
    </div>
  </div>
</div>
